*.class
*.exe
*.gr8
*.gr9
*.grA
*.nex
*.obx
*.xex
/*.atr
/numen?.tqa
/filelen.asx
/numen.txt
/babka/tan.asx
/bigbump/theend.raw
/duke/*/000.pcx
/duke/*/1??.pcx
/duke/*/map.asx
/duke/*/tiles.asx
/duke/*/tiles000.art
/duke/*/track.asx
/duke/3window/2??.pcx
/duke/7credits/text.raw
/env/qlka1.gfx
/env/*.3d1
/flash/flash.map
/flash/tunnelz.ang
/flash/tunnelz.ray
/hipbump/bumpmap.gfx
/hipbump/bumpopt.asx
/iftr/einsrays.raw
/iftr/hi.dat
/iftr/lo.dat
/iftr/sciema.asx
/iftr/statek.raw
/iftr/wirhilo.map
/logo256/logo256.gfx
/mocap/dance01.asx
/outro/outro.com
/outro/outro.not
/plasma2/plasma2.map
/plasma2/tunnelz.ang
/plasma2/tunnelz.ray
/rubik/tan.asx
/rzoom/rzoom.gfx
/start/font.raw
/start/start.com
/start/start.zix
/tiplazma/tiplazma.agf
/tiplazma/tiplazma.g10
/tiplazma/tiplazma.ray
tunnel46/tqa.dat
tunnel56/taba.dat
tunnel56/tabc.dat
tunnel56/tabr.dat
